.contentgroupnew{

    display: flex; 
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px ;
    padding: 20px;
    padding-left: 90px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    height: 600;
    width: 600;
    /* background-color:  #f1e2f1; */
    background-color:  #f1e2f1;
    border-radius: 10px;
    
}
.card-bodynew:hover{
    
    background-color: #E5B8F4;
    border-radius: 10px;
    border-width: 10px;
    

}
.card-image{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 50%;
    border-width: 30px;
   
   height: 180px;
   width: 180px;
   
    
    box-sizing: content-box;

    

}

.card-textnew{
    display: inline-flex;
    width: 10px;
    padding: 2px;
    margin-bottom: 20px;
}
.card-bodynew{
    background-color:white;
    padding: 10px;
    height: 200px;
    border-radius: 10px;

}

.card-titlenew{
    color: black;
    font-size: 20px;

}

.card-textnew{
    width: 50px;
}

.cardsgroup{
    height: 100px;
    width: 100px;
}

.contentgroupnew:hover .contentgroupnew-content {
    box-shadow: 10px;
    border-radius: 20px;
    

  }

  .card-description:hover.card-description{
    color: red;
  }
  


  