@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.product-group{
  display: flex;
  background-color: #dd99aa0f;
  border-radius: 20px;
  
}

.heading-bestseller{
  color:black;
  /* margin-bottom: -65px; */
}


.product-menu{
  flex-wrap: wrap;
}