@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.product-group{
  display: flex;
  background-color: #dd99aacc;
  border-radius: 20px;
}

.heading-bestseller{
  color:black;
}