@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.product-group{
  display: flex;
  background-color:#e2131308;
  border-radius: 20px;
  
}

.heading-bestseller{
  color:black;
  margin-top: -50px;
}


.product-menu{
  flex-wrap: wrap;
  border: solid 2px black;
}