/* 

 .contentgroup{
    display: flex;
    margin-top: 100px;
    height: 300;
    width: 400;
    background-color: #ac25da;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.cardsgroup{
    height: 100px;
    width: 300px;
    background-color: rgb(230, 230, 81);
}

 */
