@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.navbar{
    background-color: #E5B8F4;
    padding: 20px;
}
.navbar-menu{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}
.navbar-user-icon{
    height: 30px;

}