@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

 .navbar-bg{
    background-color: #E5B8F4;
    padding: 15px;
    position:fixed;
    width: 100%;
    top: 0px;
}



