
.menu-card {
    width: 250px;
    /* height: 400px; */
    /* padding: 5px; */
    border: solid 1px black;
}

#buttons{
    background-color: #ff6666;
    border: black 1px solid;
}
#button:hover{
    background-color: #4a0561;
    color:white;
    border: white 1px solid;
}
.card-font{
    font-size: 15px;
}

