.menu-card {
    width: 250px;
    border: solid 1px black;
}

#buttons {
    background-color: #ff6666;
    border: black 1px solid;
}

/* #button:hover{
    color:white;
    border: white 1px solid;
} */
.card-font {
    font-size: 15px;
}

.positive {
    background-color: #f2a81e;
    height: 30px;
    margin: 5px;
}

.negative {
    background-color: #f2a81e;
    height: 30px;
    margin: 5px;
}

.positive:hover {
    background-color: #f2a81e;
    border: black solid 1px;
}

.negative:hover {
    background-color: #f2a81e;
    border: black solid 1px;
}