.content{
    background-color: #2c033a;
    padding: 20px;
    border-radius:20px;
    width: 400px;
    border: solid 1px #2c033a;
}

.button{
    background-color: #E5B8F4;
}
.button:hover{
    background-color: #E5B8F4;
}

input{
    
}