.container-content{
   
    width: 100%;
    padding: 15px;
    background-color:black;
    color: rgb(5, 5, 5);
    margin-top: 20px;
    display: flex;
    justify-content:space-evenly;
}

.heading-content{
    font-size: 20px;
    padding: 10px;
    color: white;
}

li{
    list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
   
}
.img-grp{
    display: flex;
    margin-left: 5px;
    cursor: pointer;
}


.img{
    margin-left: 5px;
}

a{
    text-decoration: none;
    color: black;
}
.copy-right{
    background-color: rgb(237, 189, 189);
    color: black;
    padding: 10px;
    text-decoration: underline;
}