.margin {
    background-color: white;

    font-family: 'Roboto', sans-serif;
}

.login-box {
    width: 500px;
    height: 410px;
    margin-left: 450px;
    margin-right: 10px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #f8bec5;
    border: 5px solid #a7c6e4;
    cursor: pointer;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-align: center;
}

form {
    width: 320px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}

form input {
    width: 430px;
    padding: 10px;
    border: none;
    border: 1px solid grey;
    border-radius: 7px;
}

input[type="button"] {
    width: 450px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: rgb(238, 156, 168);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(189, 137, 160);
    color: rgb(227, 176, 196);
}

p {
    text-align: center;
    padding-top: 25px;
    font-size: 16px;
    text-decoration: none;
}

p a {
    text-decoration: none;
}

.link1 {
    text-align: center;
    color: blue;
    font-size: 16px;
    margin-top: 9px;
    text-decoration: none;

}

.link2 {
    color: blue;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.login-a {
    text-decoration: none;
}

.signup-a {
    text-decoration: none;
}